.card {
    width: 40vh;
    height: 60vh;
    position: relative;
    box-shadow: inset 0px -50px 50px 25px rgba(0,0,0,0.9), 0px 0px 25px 1px black ;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    background-color: white;
}

.title {
    border-radius: 10px;
    width: 40vh;
    height: auto;
    position: fixed;
    bottom: 0;
}

h1 {
    font-size: 1.5em;
    padding: 0px 40px 10px 10px;
    color: white;
}

.tags {
    margin: 0;
    padding: 0 0 0 5px;
    display: inline-flex;
}
.tag {
    color: white;
    border-radius: 10px;
    background-color: rgba(50,50,50,0.5);
    padding: 1px 3px 1px 3px;
    margin: 3px;
    font-size: 0.8em;
}

.votes {
    display: inline-flex;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    color: white;
}

.infoIcon {
    fill: white;
    max-width: 4vh;
    cursor: pointer;
}

.info {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
    cursor: pointer;
}

.darkBackground {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    flex-direction: column;
}

.elementLine {
    height: 1px;
    width: 40%;
    margin: 2%;
    background-color: white;
}

.element {
    margin: 2%;
    color: white;
}

.darkBackground p {
    font-size: 0.8em;
}

.darkBackground a {
    color: white;
    font-size: 0.8em;

}